{% extends 'base.html'%}
{%block title%}
  change password
{%endblock title%}

{%block body%}
{%block head%}
<link rel="stylesheet" href="/static/CSS/change_password.css">
<link rel="stylesheet" href="/static/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css">
<link rel="icon" type="image/png" href="/static/IMAGES/LOGO-ECOPOST.png">
{%endblock head%}
<h2>welcome to change password page <span id="username" >{{UO.username}}</span></h2>
<center>
    <form action="{%url 'change_password' %}" method="post">
        {%csrf_token%}
       
    
      <input type="submit" name=""id="sendotp" value="send otp" >
        
    </form>
</center>
{%endblock body%}