<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
   <link rel="stylesheet" href="/static/CSS/otp.css">
   <link rel="icon" type="image/png" href="/static/IMAGES/LOGO-ECOPOST.png">
</head>
<body>
    <div class="otp-container">
        <div class="otp-image"></div>
       <section>
        <span>Welcome to OTP Verification Page</span>
        <form method="post" class="otp-form">
            {% csrf_token %}
            <label for="otp-input">Enter OTP:</label>
            <input type="text" name="uotp" id="otp-input"> <br><br>
            <input type="submit" value="Verify OTP">
        </form>
       </section>
    </div>
</body>
</html>
